<?xml version="1.0" encoding="UTF-8"?> 

<widget xmlns = "http://www.w3.org/ns/widgets"
 xmlns:gap = "http://phonegap.com/ns/1.0"
 id = "com.phonegap.app1"
 version = "1.0.0">
 
 <name> app1-2019 Datos del dispositivo </name>
 
 <description>
  Aplicacion que nos muestra la informacion referente al Dispositivo Movil
 </description>
 
 <author href="htpps://build.phonegap.com" email="zurielkyriat@gmail.com">
  Zuriel Kyriat-yael Larios Vaquero
 </author>
 
 <!-- Personaliza la aplicacion y plataforma-->
 <preference name="orientation" 	value="default"/>
 <!-- <preference name="orientation"  value="portrait"/>
  <preference name="orientation"  value="landscape"/>-->
 <preference name="target-devide" 	value="universal"/>
 <preference name="fullscreen" 	value="true"/>
 <preference name="android-installLocation" 	value="auto"/>
 <preference name="permissions" 	value="INTERNET"/>
 
 <!--Plugins-->
 <plugin name="cordova-plugin-device" spec="~1.1.4" />
 <plugin name="cordova-plugin-vibration" spec="~2.1.3" />
 <plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
 
 
 <!-- <plugin name="cordova-plugin-geolocation" source=npm"/>-->
 
 <!-- Colocar icono app-->
 
 <icon src="res/android/mdpi.png"/>
 
 </widget>
